body {
  background: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.login-box {
  margin-top: 40px;
  padding: 30px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #222;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: .85;
}
