
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background: #d9d9d9;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.user-label {
  font-weight: bold;
  margin-bottom: 30px;
}

.menu-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: #656565;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.menu-btn:hover {
  background: #4c4c4c;
}


.main-content {
  flex: 1;
  padding: 40px;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}


.tabela {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.tabela thead th {
  text-align: left;
  padding: 15px;
  background: #ddd;
  font-weight: bold;
  font-size: 16px;
}

.tabela tbody tr {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.tabela td {
  padding: 18px 15px;
  font-size: 16px;
  vertical-align: middle;
}

.cargo-adm {
  color: #e91e63;
  font-weight: 600;
}

.cargo-analista {
  color: #9c27b0;
  font-weight: 600;
}

.cargo-coordenador {
  color: #2196f3;
  font-weight: 600;
}

.cargo-gestor {
  color: #4caf50;
  font-weight: 600;
}

.status-rejeitado {
  color: #c0392b;
  font-weight: bold;
  cursor: pointer;
}

.status-pendente {
  color: #555;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 420px;
  max-width: 90%;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.filtros {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.filtros select {
  padding: 10px 40px 10px 14px;
  font-size: 14px;
  background-color: #cfcfcf;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: pointer;
}

.select-usuario {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #bbb;
  background: #efefef;
  font-size: 14px;
}

.btn-liberar {
  padding: 10px 22px;
  border-radius: 10px;
  border: none;
  background: #cfcfcf;
  cursor: pointer;
  font-size: 14px;
}

.btn-liberar:hover {
  background: #bdbdbd;
}
